<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name ="DZamoraExamenCrudSqlClient" connectionString="Data Source=.;Initial Catalog=DZamoraExamenCrudSqlClient;User ID=sa1;Password=pass@word1" providerName="System.Data.SqlClient"/>
		<add name="DZamoraExamenCrudSqlClientEntities" connectionString="metadata=res://*/DZamoraExamenCrudSqlClient.csdl|res://*/DZamoraExamenCrudSqlClient.ssdl|res://*/DZamoraExamenCrudSqlClient.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=DZamoraExamenCrudSqlClient;user id=sa1;password=pass@word1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

	</connectionStrings>
</configuration>